$imagePreviewHeight: 400px;

.Card__ImageHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
}

.Card__Image {
    max-width: 100%;
    max-height: $imagePreviewHeight;
}

.DetectionText {
    color: #acacac;
}

.Confirmed--Yes {
    color: $green;
}

.Confirmed--NotSure {
    color: $yellow;
}

.Confirmed--No {
    color: $red;
}
